#background, #background:after
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0

#background
  background-image: url('/images/backgrounds/scratched.jpg')
  background-position: center center
  background-size: cover
  -webkit-filter: blur(5px)
  -moz-filter: blur(5px)
  -o-filter: blur(5px)
  -ms-filter: blur(5px)
  filter: blur(5px)
  z-index: -2

#background:after
  background-color: $white-translucent
  content: " "
  z-index: -1