html
	font-size: 16px

html, body
	height: 100%
	width: 100%
	margin: 0
	padding: 0

#container
	position: absolute
	top: 5%
	right: 10%
	bottom: 5%
	left: 10%
	min-height: 28rem

nav#projects
	height: 24rem
	padding: 2rem 0
	ul
		margin: 0
		padding: 0

@media (min-width: 720px)
	html
		font-size: 18px

	#container
		top: 10%
		bottom: 10%

	footer
		width: 100%
		position: absolute
		bottom: 0

@media (min-width: 1024px)
	html
		font-size: 20px