+font-face("PFDinTextCondPro-Thin", font-files("/fonts/2D5D1D_1_0.eot", "/fonts/2D5D1D_1_0.eot?#iefix", "/fonts/2D5D1D_1_0.woff", "/fonts/2D5D1D_1_0.ttf"))

+font-face("PFDinTextCondPro-Light", font-files("/fonts/2D5D1D_0_0.eot", "/fonts/2D5D1D_0_0.eot?#iefix", "/fonts/2D5D1D_0_0.woff", "/fonts/2D5D1D_0_0.ttf"))

+font-face("PFDinTextCondPro-LightItalic", font-files("/fonts/2D5D1E_1_0.eot", "/fonts/2D5D1E_1_0.eot?#iefix", "/fonts/2D5D1E_1_0.woff", "/fonts/2D5D1E_1_0.ttf"))

+font-face("PFDinTextCondPro-Bold", font-files("/fonts/2D5D1E_0_0.eot", "/fonts/2D5D1E_0_0.eot?#iefix", "/fonts/2D5D1E_0_0.woff", "/fonts/2D5D1E_0_0.ttf"))


$sans-thin: "PFDinTextCondPro-Thin"
$sans-light: "PFDinTextCondPro-Light"
$sans-light-italic: "PFDinTextCondPro-LightItalic"
$sans-bold: "PFDinTextCondPro-Bold"


body
	color: $black
	font-family: $sans-light
	letter-spacing: 0.05em
	-webkit-font-smoothing: antialiased

a
	color: $link
	text-decoration: none
	&:hover
		color: $link-hover

header
	h1
		font-family: $sans-thin
		font-size: 2rem
		font-weight: normal
		letter-spacing: 0
		margin: 0
		text-transform: uppercase
		a
			color: $black
			text-decoration: none
	h2
		color: $med-grey
		font-family: $sans-bold
		font-size: 0.8rem
		font-weight: normal
		letter-spacing: 0
		margin: 0 0 0.5rem
		text-transform: uppercase
		a
			border-bottom: 1px dotted $link

.separator
	color: $light-grey
	font-family: $sans-bold

footer
	font-size: 0.8rem
	text-align: center