{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{{ siteUrl }}css/jquery.fancybox.css">
	<link rel="stylesheet" href="{{ siteUrl }}css/style.css">
	<script data-main="js/main" src="{{ siteUrl }}js/lib/require.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<div id="container">
		<header id="header">
			<h1><a href="{{ siteUrl }}" class="logo" title="Michelle Side"></a></h1>
			<h2>
				<span class="bold">{{ siteName }}</span>
				<span class="separator">  /  </span>
				Art Direction + Design
				<span class="separator">  /  </span>
				Boston based, New York raised
				<span class="separator">  /  </span>
				<a href="maito:mside915@gmail.com">mside915@gmail.com</a>
			</h2>
		</header>

		{% block content %}
		{% endblock %}

		<footer id="footer">
			Copyright {{ now.year }} {{ siteName }}
			<span class="separator">  /  </span>
			Developed by <a href="http://brandonferioli.com">Brandon Ferioli</a>
		</footer>
	</div>
</body>
</html>
